* {
  box-sizing: border-box;
  border-collapse: collapse;
}
body {
  background-image: url(http://d20aeo683mqd6t.cloudfront.net/zh-hant/articles/title_images/000/040/984/medium/pixta_40007407_M.jpg?2021),
    linear-gradient(rgb(255, 255, 255), rgb(228, 183, 228));
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
// nav for classdemo
.heading {
  width: 100%;
  margin: auto;
  height: 50px;
  background-color: rgb(189, 189, 189);
  border-radius: 5px;
  border: solid gray;
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-right: 8px 12px;
    line-height: 0px;
  }
  ul li {
    padding: 10px;
  }
  ul li a {
    text-decoration: none;
    padding: 5px;
  }
  ul li a:hover {
    color: azure;
    background: darkolivegreen;
  }
}
