*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  table,
  th,
  td {
      border: 1px solid black;
    text-align: center;
  }
  .title1{
    width: 50%;
  }
  .des{
    width: 10%;
  }

  img{
      width: 100%;
      height: auto;
      padding: 20px;
  }